@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --red: #d2191f;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #fad1d1;
  padding: 80px 163px 254px 163px;
}

section {
  max-width: 1186px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #f9e4e4;
  padding: 24px 48px;
  border: 2px dashed var(--red);

  h1 {
    font-size: 64px;
    color: var(--red);
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
  }
  h2 {
    font-size: 40px;
    color: var(--red);
    text-align: center;
    
  }
  p {
    font-size: 32px;
    text-align: justify;
    font-weight: 900;
    color: black;
  }
}
